@font-face {
    font-family: 'PT Sans Ruble';
    src: url(../fonts/pt-sans-ruble-400.woff) format('woff');
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: 'PT Sans Ruble';
    src: url(../fonts/pt-sans-ruble-700.woff) format('woff');
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: Candara;
    src: url(../fonts/candara.ttf);
}

@font-face {
    font-family: CyrillicOld;
    src: url(../fonts/cyrillic_old.woff) format('woff');
}

html {
    overflow-y: scroll;
    overflow-x: auto;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
}

body {
    background-color: #ffffff;
}

@media screen and (max-width: 1400px) {

    .apartments-header {
        margin-bottom: 15px !important;
    }

    .box-sorting-apartment {
        /*text-align: center !important;*/
    }

    .content-page__main {
    }

    .product {
        padding: 50px !important;
    }

    .iteam-product-page {
        padding: 30px !important;
    }

    .building_apartment_p {
        text-align: center !important;
    }

    .building_apartment_pr {
        text-align: center;
    }

    .mini-pic-apart {
        max-width: 400px !important;
    }

    .next-apartment {
        display: block;
        color: white;
        text-decoration: none !important;
    }

    .b-card-apartment__description {
        max-height: 76px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .b-card-building__description {
        height: 76px;
        overflow: hidden;
        max-height: 76px;
    }

    .header {
        border-bottom: none;
    }

    .content-page {
        position: static;
        top: 0;
    }
}

@media screen and (max-width: 980px) {
    .mobile-menu {
        display: block !important;
    }

}

/*mobile*/
@media screen and (max-width: 768px) {
    .apartments-header {
        margin-bottom: 5px !important;
        text-align: center;
        color: white !important;
    }

    .building__mini-cart {
        margin: 3px 3px 7px !important;
    }

    .box-sorting-apartment {
        text-align: center !important;
    }

    .find-form {
        display: none;
    }

    .button__show-mobile-filter {
        display: block !important;
    }

    .box-apartment {
        background-color: transparent !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .content-page__main {
        margin-left: -15px !important;
        margin-right: -15px !important;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu-list-sorting-apartement {
        margin-top: 40px;
    }

    .iteam-product {

    }

    .content {
        margin: 0;
    }

    .map__map {
        height: 300px !important;
        padding: 30px 0 30px 0 !important;
    }

    .header-logo {
        display: none;
    }

    .iteam-product {
        height: 550px !important;
    }

    .title-iteam-product:hover {
        height: 30px !important;
        bottom: 30px !important;
        background: rgba(23, 126, 137, .95);
    }

    .iteam-product {
        padding: 0;
    }
}

.mobile-menu {
    display: none;
}

.main {
    margin: 0 0 0 0;
}

.header {
    padding-top: 20px !important;
    margin-bottom: 20px;
    background-color: transparent;
    min-height: 80px;
    border-bottom: 2px solid black;
}

.wrapper {
    padding-left: 0;
    padding-right: 0;
}

.content {
    min-height: 1200px;
    margin-right: 0;
    margin-left: 0;
}

.content-page {
}

.content-page__main {
    margin-left: -15px;
    margin-right: -15px;
    background-color: transparent;
}

.navigation {
    padding-top: 20px;
    text-align: center;
    background-color: #ffffff;
    width: 300px;
    position: absolute;
}

.navigation-relative {

}

.navigation-fixed {
    position: fixed;
}

.sales {
    background-color: #0095B6;
    margin-left: 0;
    margin-right: 0;
}

.sale {
    background: white;
    margin-bottom: 20px;
    min-height: 120px;
    box-shadow: 0 0 1px gray;
}

.footer {
    min-height: 100px;
    padding: 20px 0 0;
    color: white;
}

.footer a {
    font-weight: bold;
}

.nav-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-iteam-list {
    list-style: none;
    padding: 0;
}

.nav-iteam-list li {
    text-align: center;
    display: block;
    margin-top: 5px;
}

.nav-iteam-list li a {
    display: block;
    color: black;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}

.nav-iteam-list li a:hover {
    background-color: #0095B6;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

.product-box {
    background-color: transparent;
    padding: 10px !important;
}

.product-box__card {
    background: white;
    height: 300px;
    position: relative;
    padding: 10px;
    text-align: center;
}

.image-product {
    width: 100%;
    height: auto;
    max-height: 220px;
    outline: 1px solid gray;
}

.product-box__info {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: white;
    height: 300px;
    width: 100%;
    opacity: 0;
    transition-property: width, height, top;
    transition-duration: .4s;
    transition-timing-function: ease;
}

.product-box__info:hover {
    opacity: 1;
    height: 103%;
    width: 103%;
    top: -3px;
    left: -5px;
    box-shadow: 0 0 10px gray;
}

.nav__find {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    color: white;
    font-weight: bold;
    transition: .2s;
}

.infoblock {
    margin: 0 !important;
    min-height: 450px;
    background: #E1E1E1;
}

.infoblock__info {
    text-align: center;
}

.infoblock__message {
    border: 10px solid white;
    min-height: 450px;
    font-size: 25px;
}

.find-form {
    color: black;
    background: #ffffff;
}

.room-find-list {
    list-style: none;
    padding: 0;
}

.room-find-list li {
    margin: 15px;
    display: block;
    float: left;
}

.header-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.address-company {
    font-weight: normal;
    font-size: 15px;
}

.header-phone {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.image-logo {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.slider {
    width: 220px;
    height: 9px;
    position: relative;
    margin: 0 auto;
}

.ui-slider-handle {
    width: 21px;
    height: 23px;
    position: absolute;
    top: -7px;
    margin-left: -12px;
    z-index: 200;
}

.ui-widget-header {
    height: 7px;
    left: 1px;
    top: 1px;
    position: absolute;
}

#slider-result {
    color: white;
    text-align: center;
    margin-top: 15px;
    font: 30px sans-serif;
}

.iteam-product {
    margin-bottom: 20px;
    margin-top: 10px;
}

.iteam-product-page {
    height: 250px;
    background-color: white;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #F46A6A;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F46A6A;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 1px 1px 1px #000000;
    background: #F46A6A;
    border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #F46A6A;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #F46A6A;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #F46A6A;
}

input[type=range]:focus::-ms-fill-upper {
    background: #F46A6A;
}

.preview {
    padding: 15px 10px 20px 10px;
}

.preview-gallery {
    background: black;
    height: 100px;
    opacity: 1;
    position: absolute;
    z-index: 1;
    width: inherit;
}

.image-iteam-card {
    width: 100%;
    height: auto;
    max-height: 200px;
}

.title-iteam-product {
    background: rgba(23, 126, 137, .7);
    color: white;
    margin: 0;
    height: 30px;
    position: relative;
    bottom: 30px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    transition: .6s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}

.title-iteam-product:hover {
    height: 250px;
    bottom: 250px;
    background: rgba(23, 126, 137, .95);
}

.link-next-product {
    display: block;
    width: 70%;
    margin: 0 auto;
    color: white !important;
    height: 38px;
    padding-top: 10px;
    text-align: center;
    transition: .3s;
    font-weight: bold;
    text-decoration: none;

}

.link-next-product:hover {
}

.next-list-iteam {
    list-style: none;
}

.next-list-iteam li {
    display: inline-block;
}

.next-list-iteam li a {
    display: block;
    background: #f1f1f1;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    color: black;
    transition: .2s;
}

.next-list-iteam li a:hover {
    text-decoration: none;
    background: #F46A6A;
}

.active-link {
    background: #F46A6A !important;
}

.product-image {
    height: 250px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.product-image-iteam {
    outline: 2px solid white;
    height: 340px;

    background: white no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.hover-title {
    height: 250px;
    opacity: 0;
    transition: .5s;
    transition-timing-function: ease-in-out;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.hover-title:hover {
    height: 250px;
    background-color: #006A85;
    opacity: 0.95;
}

.price {
    font-size: 20px;
    background-color: #06A77D;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.mini-preview {
    height: auto;
    background: gray;
    padding: 10px 30px 10px 30px;
}

.image-list {
    list-style: none;
    margin: 0 auto;
}

.image-list li {
    display: inline-block;
}

.image-list li a {
    display: block;
    height: 70px;
    width: 70px;
    background: gray no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    margin: 0 5px 0 5px;
}

.image-list li a div {
    height: 70px;
    opacity: 0;
    transition: .4s;
    transition-timing-function: ease-in-out;
}

.image-list li a div:hover {
    opacity: 0.5;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background: url(/uploads/image/ed9ce33d7897fd6dcdc030104d9e8dce.jpg) no-repeat;
}

.button-iteam {
    width: 100%;
    border: none;
    background-color: #FF5722;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    transition: .4s;
}

.button-iteam:hover {
    background: #BF360C;
}

.price-page {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.ticket {
    border: none;
    min-height: 40px;
    background-color: #7db500;
    font-weight: bold;
    border-radius: 1px;
    color: white;
    font-size: 20px;
    width: 70%;
}

.description {
}

.masonry {
    width: 300px;
    margin: 0 auto;
}

.masonry input {
    width: 100px;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ui-slider {
    position: relative;
    text-align: left;
}

/* Ширина, высота и позиционирование для ползунков
----------------------------------*/

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 25px;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    background-color: #ffffff !important;
}

/* support: IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

/* Высота горизонтальной полоски
----------------------------------*/

.ui-slider-horizontal {
    height: 16px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
    border-radius: 0px !important;
    background-image: none;
    background: repeating-linear-gradient(45deg, #0095B6, #0095B6 10px, #006a85 10px, #006a85 20px);
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

/* Ширина вертикальной полоски
----------------------------------*/

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

/* Указание шрифта и размера текста
----------------------------------*/

.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

/* Стилизация полоски
----------------------------------*/

.ui-widget-content {
    margin-top: 10px;
    border: 2px solid white;
    background: #fff;
    color: #222222;
    border-radius: 0px;
}

.ui-widget-content a {
    color: #222222;
}

/* Стилизация промижудка между ползунками
----------------------------------*/

.ui-widget-header {
    background: #F46A6A;
    color: #222222;
    font-weight: bold;
}

.ui-widget-header a {
    color: #222222;
}

/* Стилизация ползунков
----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: url("../images/range-dragger.png");
    border: 0px !important;
    width: 31px;
    font-weight: normal;
    color: #555555;
    margin-left: -16px;
    margin-top: 12px;
    box-shadow: none !important;
    /*   border: 1px solid #ccc;
       border-top: 1px solid #eee;
       background: #ffffff;
       *//* Old browsers *//*
       background: -moz-linear-gradient(top, #ffffff 0%, #f2f0f1 39%, #e8e8e8 100%);
       *//* FF3.6+ *//*
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(39%, #f2f0f1), color-stop(100%, #e8e8e8));
       *//* Chrome,Safari4+ *//*
       background: -webkit-linear-gradient(top, #ffffff 0%, #f2f0f1 39%, #e8e8e8 100%);
       *//* Chrome10+,Safari5.1+ *//*
       background: -o-linear-gradient(top, #ffffff 0%, #f2f0f1 39%, #e8e8e8 100%);
       *//* Opera 11.10+ *//*
       background: -ms-linear-gradient(top, #ffffff 0%, #f2f0f1 39%, #e8e8e8 100%);
       *//* IE10+ *//*
       background: linear-gradient(to bottom, #ffffff 0%, #f2f0f1 39%, #e8e8e8 100%);
       *//* W3C *//*
       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8', GradientType=0);
       *//* IE6-9 *//*
       -webkit-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
       -moz-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
       -ms-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
       -o-box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
       box-shadow: 0 1px 0 #ccc, inset 0 1px 0 #fff;
   */
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}

/* Стилизация ползунка при наведении и фокусе
----------------------------------*/

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #fff;
    font-weight: normal;
    color: #212121;
}

.amount1 {
    color: black !important;
    width: 40px;
    padding-left: 3px;
}

.amount {
    color: black !important;
    width: 40px;
    padding-left: 3px;
}

.amount1_two {
    color: #0a6aa1 !important;
    width: 100%;
    padding-left: 3px;
}

.amount_two {
    color: #0a6aa1 !important;
    width: 100%;
    padding-left: 3px;

}

#slider-range {
    width: 80%;
    margin: 10px auto 20px auto;
}

.map__button {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: .1s;
    transition-timing-function: ease-in-out;
}

.map__view-link {
    transition: .2s;
    display: block;
    width: 60%;
    margin: 0 auto;
    color: white !important;
    background-color: #006A85;
    cursor: pointer;
    text-decoration: none !important;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.map__view-link:hover {
    background: #0d4d5d;
}

#slider-range_two {
    width: 80%;
    margin: 10px auto 20px auto;
}

.prew {
    width: 100%;
}

.prew ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
}

.prew ul li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}

.prew ul li img {
    display: block;
    max-height: 300px;
    max-width: 100%;
    margin: 5px auto;
    padding-right: 1px;
}

.building {
    height: 250px;
    background: white;
    padding: 10px;
    transition: .1s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 5px 15px black;
}

.building:hover {
}

.building-description {
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: .2s;
    background-color: yellow;
    position: relative;
    top: 0;
    z-index: 1;
}

.building-click:hover .building-description {
    top: -50px;
}

.building-img {
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.next-building {
    transition: .2s;
    display: block;
    width: 60%;
    margin: 0 auto;
    color: white !important;
    cursor: pointer;
    text-decoration: none !important;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.building-click {
    margin-bottom: 20px;
}

.it-op {
    transition: .2s;
    opacity: 0.1;
}

.description-building {
    transition: .5s;
    transition-timing-function: ease-in-out;
    position: relative;
    height: 200px;
    top: 0;
    background-color: white;
    padding: 5px 5px 0 5px;
    font-size: 14px;
}

.building-click:hover .description-building {
    top: -170px;
}

.view__small-info {
    color: black;
    text-align: left;
}

.view__small-info .main-info {
    font-weight: bold;
    font-size: 18px;
}

.rubl {
    font-family: 'PT Sans Ruble';
    text-transform: lowercase
}

@media screen and (max-width: 1655px) {
    .select-room {
        text-align: left;
    }

    .select-room-click:last-child {
        margin-top: 5px;
    }
}

.select-room {
    list-style: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.select-room-click {
    background-color: white;
    color: #0095B6;
    display: inline-block;
    border: 2px solid #006A85;
    padding: 4px;
    min-width: 30px;
    cursor: pointer;
    transition: .2s;
    transition-timing-function: ease-out;
}

.select-room-click:hover {
    border: 2px solid darkgray;
}

.select-room-click-cheked {
    color: white;
    background-color: #006A85;
+ border: 2 px solid white;
}

.callback {
    display: block;
    margin: 0 auto;
    width: 90%;
    min-height: 50px;
    border: none;
    background-color: #006A85;
    transition: .2s;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.posts-list-block-meta {
    color: white;
}

.building-heid {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    background-color: white;
    height: 55px;
    overflow: hidden;
}

.next-apartment {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    color: white !important;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none !important;
}

.next-apartment {
}

.building__mini-cart {
    background: #FAFAFA;
    border: 2px solid #eeeeee;
    margin: 3px 30px 7px;
    min-height: 132px;
}

.building__mini-cart_short-description {
    max-height: 95px;
    overflow: hidden;
}

.view__title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.notifications {
    display: none;
    position: fixed
}

.notifications.top-right {
    right: 0;
    top: 25%
}

.notifications > div {
    position: relative;
    z-index: 9999;
    background-color: #0095B6;
    color: #fff;
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.SumoUnder {
    height: 0 !important;
}

.sorter {
    padding-right: 15px;
}

.js-box-company__description {
    padding-top: 10px;
}

.js-box-company {
    display: none;
}

.js-box-Motivation {
    display: none;
}

.js-box-Motivation__one {
    text-align: center;
    display: none;
}

.js-box-Motivation__two {
    text-align: center;
    display: none;
}

.js-box-Motivation__three {
    text-align: center;
    display: none;
}

.js-box-work {
    display: none;
}

.js-box-work__one {
    display: block;
}

.js-box-contacts-company {
    display: none;
}

.js-box-contacts-company__one {
    display: none;
}

.js-box-contacts-company__map {
    display: none;
}

a.asc, a.desc {
    color: #0d4d5d !important;
    font-weight: bolder;
}

.sorter li a {
    color: #0095B6;
}

.asc:after {
    font-size: 24px;
    content: "↑";
}

.desc:after {
    font-size: 24px;
    content: "↓";
}

.btn {
    border-radius: 0 !important;
}

.pagination__my {
    width: 100%;
    text-align: center;
}

.pagination {
    margin: 0 auto !important;
}

.pagination li a {
    color: #006A85;
}

.active a {
    background-color: #006A85 !important;
    color: white;
}

.list-view {
    padding-top: 0 !important;
}

.box-sorting-apartment {
    text-align: right;
    padding-right: 10px;
    margin-top: 15px;
}

.menu-list-sorting-apartement {
    display: inline-block;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: .2s;
    background-color: white;
    height: auto;
    padding: 7px 10px 10px 10px;
    font-size: 18px;
}

.caret {
    transition: .3s;
    transform: rotate(270deg);
}

.caret__rotate {
    transform: rotate(360deg);
}

.menu-list-sorting-apartement__item {
    display: inline-block;
}

.list-parameter-apartement {
    display: none;
    list-style: none;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .4);
    margin-top: 8px;
    text-align: left;
    min-width: 140px;
    opacity: 1 !important;
}

.list-parameter-apartement > a {
    color: black !important;
    text-decoration: none;
}

.list-parameter-apartement__item {
    padding: 0 10px;
    transition: .1s;
    cursor: pointer;
}

.list-parameter-apartement__item:hover {
    background-color: #006A85;
    color: white;
}

#js-name-select-sort-apartment-parameter {
    cursor: pointer;
}

.sorter {
    background-color: white;
}

#js-name-select-sort-apartment-parameter {
    padding-bottom: 1px;
    border-bottom: 1px black dashed;
}

.menu-list-sorting-apartement__hover {
    background-color: lightgrey;
}

.button__show-mobile-filter {
    width: 80%;
    border: none;
    padding: 10px;
    display: none;
    margin: 20px auto;
    background-color: #006A85;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.grid hr {
    display: none;
}

.apartments-header {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: auto;
    font-weight: bold;
    display: block;
    width: 300px;
    position: relative;
    top: 5px;
}

.box-apartment {
    padding-right: 10px;
    padding-left: 10px;
}

.page_title {
    color: white;
    text-align: center;
}

.project-info-link {
    color: white;
    display: block;
    padding: 15px;
    margin-left: 15px;
}

.b-text-price {
    padding: 10px;
    margin-bottom: 15px;
    color: #0d4d5d;
    background-color: white;
    text-align: center;
}

.list-menu-header {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    padding: 0 10px;
    text-align: left;
    margin-bottom: 20px;
}

.list-menu-header li {
    padding-right: 10px;
    text-align: left;
    display: inline-block;
    padding-bottom: 2px;
}

.list-menu-header li a {
    font-family: CyrillicOld;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.list-menu-header li a:hover {
    border-bottom: 2px solid black;
    color: black !important;
}

.b-logo {
    min-height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

}

.b-number-phone {
    color: black;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px
}

.b-number-phone a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .list-menu-header li {
        display: block;
        text-align: center;
    }

    .b-number-phone {
        text-align: center;
    }

    .list-menu-header {
        flex-direction: column;

    }
}

.candara-font {
    font-family: Candara !important;
    color: white;
    text-align: left !important;
}

.b-card-apartment {
    background-color: white;
    margin: 10px;
    height: 90px;
    min-height: 440px;
    border-radius: 5px;
    box-shadow: 3px 3px 9px -3px rgba(9, 9, 9, 0.61);
}

.row .items {
    margin: 0 !important;
}

.b-card-apartment__pic {
    border-radius: 5px 5px 0 0;
    width: 100%;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid rgba(9, 9, 9, 0.6);
}

.b-card-background__pic {
    border-radius: 5px 5px 0 0;
    width: 100%;
    min-height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 5px solid rgba(9, 9, 9, 0.6);
    background-clip: padding-box;
}

.b-card-apartment__pic-mark {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.6);
}

.b-card-apartment__price {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.b-card-apartment__description {
    text-align: center;
}

.b-card-apartment__btn {
    text-align: center;
}

.b-card-apartment__info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px;
}

.b-card-building {
    background-color: white;
    margin: 10px;
    height: 90px;
    min-height: 370px;
    border-radius: 5px;
    box-shadow: 3px 3px 9px -3px rgba(9, 9, 9, 0.61);
}

.b-card-building__pic {
    border-radius: 5px 5px 0 0;
    width: 100%;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid rgba(9, 9, 9, 0.6);
}

.b-card-building__pic-mark {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: rgba(9, 9, 9, 0.6);
}

.b-card-building__description {
    text-align: center;
    padding: 10px;
    padding-top: 0;
}

.b-card-building__btn {
    text-align: center;
}

.b-card-building__info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px;
}

.b-description__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: left !important;
}

.footer__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer__item {
    margin-bottom: 5px;

}

.row {
    margin: 0;
}

.b-card-apartment-search {
    min-height: 470px;
}

.b-card-apartment__info__street {
    font-weight: bold;
    font-size: 18px;
}

.b-card-apartment hr {
    border-color: white !important;
}

.b-find-wrap {
    width: 80%;
    margin: 10px auto;
}

.b-find {
    color: white;
    border-top: 1px solid transparent;
    min-height: 650px;
    border-radius: 5px;
}

.b-find hr {
    margin: 5px 20px 10px 20px;
}

.b-find__title {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.b-find__param-name {
    font-size: 18px;
    font-weigth: bold;
    text-align: center;
}

.CaptionCont, .SelectBox, .options {
    color: #006A85;
}

#readyTime__container {
    margin: 0 auto 20px auto;
}

.view__small-info__map {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    text-decoration: none !important;
}

.view__small-info__name {
    font-size: 16px;
    text-decoration: none;
}

.view__small-info .main-info {
    font-size: 15px;
    text-decoration: none;
}

.view__small-info {
    font-size: 15px;
}

.price-apartment {
}

.b-sale__title {
    font-size: 18px;
}

.b-sale__title {
    font-size: 32px;
}

.glyphicon-map-marker {
    color: black;
}

hr {
    border-color: black !important;
}

.b-card-background__link {
    display: block;
    min-height: 200px;
    width: 100%;
    transition: .3s;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.b-card-background__link:hover {
    background-color: rgba(9, 9, 9, 0.4);
    background-image: url('../images/plus.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.b-logo__pic {
    display: block;
    margin: 0 auto;
    max-width: 140px;
    width: 100%;
}

.caret-menu {
    transform: scale(2) rotate(270deg);
    margin-bottom: 5px;
}

.list-menu-header__bottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 5px 5px 10px 10px;
    z-index: 10;
    transition: .2s;
    visibility: hidden;
    transform: translateY(0);
}

.js-list-menu-header__bottom {
    visibility: visible;
    transform: translateY(10px);
}

.js-caret-menu {
    transform: scale(2) rotate(360deg);
}

.slider__main {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}